<div>
  <pmv-fieldset header="Processo SIPAD">
    <div class="form-group row">
        <div class="col-md-3">
            <pmv-input-text required type="text" label="Nº/Ano Processo" [disabled]="isFormTypeView || isFormTypeAvaliate || isFormTypeAnswer"
                    name="numProcessoValue" name="anoNumeroProcessoValue" [(ngModel)]="pendencia.numeroAnoProcessoMask"
                    (blur)="findProcessoSipad()">
            </pmv-input-text>
        </div>
        <div class="col-md-6">
            <pmv-input-text name="requerenteProcessoValue" [ngModel]="pendencia.processo.requerente" [disabled]="true" label="Requerente">
            </pmv-input-text>
        </div>
        <div class="col-md-3">
            <pmv-datepicker name="dataCadastroProcessoValue" [ngModel]="pendencia.processo.dataCadastro" [disabled]="true" label="Data de Cadastro Processo">
            </pmv-datepicker>
        </div>
    </div>
  </pmv-fieldset>
  <br />
  <pmv-fieldset header="Pendência">
    <div class="form-group row">
        <div class="col-md-2">
              <pmv-datepicker name="dataCadastroPendenciaValue" [disabled]="true" [ngModel]="pendencia.dataCadastro" label="Data de Cadastro">
              </pmv-datepicker>
            </div>
        <div class="col-md-3">
              <pmv-input-text name="situacaoValue" [ngModel]="pendencia.situacaoDocumentoDescricao" label="Situação" [disabled]="true">
              </pmv-input-text>
        </div>
        <div class="col-md-3">
              <pmv-dropdown required [disabled]="true" name="orgaoValue" label="Órgão *"
              [options]="orgaosOptions" [(ngModel)]="pendencia.orgaoPMVId"
              optionLabelField="sigla" optionValueField="id" defaultOption=" "
              [isLoading]="carregandoOrgaos">
            </pmv-dropdown>
        </div>
        <div class="col-md-2">
              <pmv-input-text required (blur)="calcularDiasUteis()" [(ngModel)]="pendencia.numDiasPrazo" name="diasPrazoValue" label="Nº dias p/ resposta *" [disabled]="isFormTypeView || isFormTypeAvaliate || isFormTypeAnswer">
              </pmv-input-text>
        </div>
        <div class="col-md-2">
              <pmv-datepicker [ngModel]="pendencia.dataPrazo" name="prazoValue" label="Resposta até:" [disabled]="true">
              </pmv-datepicker>
        </div>
   </div>
   <div class="form-group row">
        <div class="col-md-12">
            <pmv-editor required [readonly]="isFormTypeView || isFormTypeAvaliate || isFormTypeAnswer" label="Descrição da Pendência *" name="descricaoValue" [(ngModel)]="pendencia.descricaoPendencia" >
           </pmv-editor>
        </div>
   </div>
  </pmv-fieldset>
</div>
