<teste-main-content>
  <teste-main-content-header title="Consultas" subtitle="Listagem de Consultas">
  </teste-main-content-header>
  <teste-main-content-body>
    <form #form="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="form-group row">
          <div class="col-md-6">
              <input name="nomePacienteValue" label="Nome Paciente"
               [(ngModel)]="filter.nomePaciente" placeholder="Pesquisar por parte do nome iniciando com..."/>
          </div>
      </div>
      <div class="form-group" style="text-align: right;">
          <button type="button" class="btn btn-primary" [disabled]="loading"
            (click)="pesquisarConsultas()">Pesquisar</button>
           <button type="button" class="btn btn-primary" [disabled]="loading"
            (click)="incluirConsulta()">Incluir</button>
        </div>
    </form>
    <div class="form-group row">
      <div class="col-md-12" style="margin-top: 15px;">
        <p-table [loading]="loading" [value]="consultas" [rows]="itemsPerPage" (lazyLoad)="loadConsultas($event)" [lazy]="true" [totalRecords]="totalRecords"
          [columns]="columns" [actions]="actions" (onAction)="onAction($event)">
        </p-table>
      </div>
    </div>
    <hr />
  </teste-main-content-body>
</teste-main-content>

